.level-one-container {
    -fx-background-color: #dddddd;
    -fx-padding: 10;
}

.big-screen {
    -fx-background-image: url("src/tictactoe/client/ui/styles/xor.jpg");
    -fx-pref-width: 1100;
    -fx-pref-height: 800;
}

.text {
    -fx-font-size: 40px;
    -fx-font-family: "Arabic Typesetting";
}

.label {
    -fx-font-family: "Arabic Typesetting";
    -fx-text-fill: #333333;
    -fx-font-size: 60px;
    -fx-font-weight: bold;
    -fx-alignment: center;
    -fx-padding: 30px;
}

.button {
    -fx-background-color: linear-gradient(to bottom, #ffffff, #e6e6e6);
    -fx-text-fill: #333333;
    -fx-font-size: 14px;
    -fx-font-family: "Arabic Typesetting";
    -fx-padding: 10px 20px;
    -fx-border-width: 2px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-cursor: hand;
}

.button:hover {
    -fx-background-color: linear-gradient(to bottom, #e6e6e6, #ffffff);
}

.centerButton {
    -fx-translate-x: 50%;
    -fx-translate-y: 50%;
}


#big-screen{
    -fx-background-image: url("src/tictactoe/client/ui/styles/xor.jpg");
    -fx-pref-height: 800;
    -fx-pref-width: 1100;
}
#registerScreen{
    -fx-background-image: url(xor.jpg);
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
}